h1 {
    text-align: center;
    color: grey;
}

h4 {
    font-size: 25px;
}

div {
    text-align: center;
    align-self: center;
    border: 2px solid white;
    border-radius: 5px;
    box-sizing: border-box;
}

div.container {
    display: flex;
    justify-content: center;
}

div.holder {
    border: 4px solid lightgray;
    background: whitesmoke;
    margin: 2% 0.5%;
    overflow: hidden;
}

div.header {
    background: #f54b4b;
    margin: 3px;
    border-color: grey;
}

div.elementHolder {
    font-size: 20px;
    border: 2px solid #2b2727;
    margin: 9px 4px;
    padding: 6px;
}

input {
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
    border: 1px solid black;
    border-radius: 8px;
    height: 24px;
}

input:focus {
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
    border: 1px solid black;
    border-radius: 8px;
}

button {
    border: 1px solid black;
    border-radius: 7px;
    text-align: center;
    transition: all 0.3s;
    cursor: pointer;
    background-color: #4e9341;
    color: #FFFFFF;
    text-decoration: none;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.35);
    outline: none;
}

button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.10);
}

textarea {
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
    border: 1px solid black;
    border-radius: 8px;
    resize: none;
}